.container {
    .admin-main-container {
        background-color: #f8f9fa;
        border-radius: 10px;
        .admin-title-row {
            img {
                border-radius: 10px 10px 0 0;
            }
            .admin-title-container {
                margin: 20px;
            }
        }
        .admin-cards-main {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .admin-card-container {
                padding: 10px;
                .admin-card {
                    border-radius: 10px;
                    padding: 0;
                    border: solid 1px lightgray;
                    overflow: hidden;
                    .card-name-container {
                        background-color: #00ccbc;
                        color: white;
                        max-height: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 10px;
                        a {
                            text-decoration: none;
                            color: white;
                        }
                        .dropdown {
                            position: relative;
                            display: inline-block;
                            .dropbtn {
                                background-color: #00ccbc;
                                padding: 16px;
                                font-size: 16px;
                                border: none;
                                &:hover {
                                    background-color: rgba(0, 0, 0, 0.1);
                                }
                            }
                            .dropdown-content {
                                display: none;
                                position: absolute;
                                background-color: #f1f1f1;
                                width: 200px;
                                height: 140px;
                                transform: translateX(-90%);
                                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                                z-index: 1;
                                text-align: center;
                                a {
                                    margin: 20px 0 20px 0;
                                }
                            }
                            &:hover {
                                .dropdown-content {
                                    display: block;
                                }
                            }
                        }
                    }
                    .admin-card-body-container {
                        padding: 0;
                        display: flex;
                        height: 150px;
                        z-index: 1;
                        .admin-card-img-container {
                            overflow: hidden;
                            margin: 10px;
                            // padding: 10px;
                            border-radius: 5px;
                        }
                        .admin-restaurant-card-img {
                            width: calc(100% - 20px);
                            img {
                                width: 100%;
                            }
                        }
                        .admin-dish-card-img {
                            width: 40%;
                            img {
                                height: 120%;
                                object-fit: cover;
                            }
                        }
                        .admin-card-text-container {
                            width: 60%;
                            padding: 5px;
                        }
                    }
                }
            }
            .admin-new-card-container {
                padding: 10px;
                a {
                    &:hover {
                        text-decoration: none;
                    }
                    .admin-add-card {
                        height: calc(60px + 150px);
                        border: dashed 2px #00ccbc;
                        color: #00ccbc;
                        border-radius: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:hover {
                            background-color: rgba(0, 204, 188, 0.1);
                        }
                        span {
                            margin-right: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            i {
                                font-size: 40px;
                                margin-right: 20px;
                                transform: translateX(35%);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* VISUALIZZAZIONE SU SMARTPHONE */
@media screen and (max-width: 576px) {
    .admin-card-body-container {
        .admin-card-img-container {
            overflow: hidden;
            img {
                width: 100%;
                overflow: hidden;
            }
        }
        .admin-restaurant-card-img {
            max-width: 100%;
            img {
                height: 100%;
            }
        }
        .admin-dish-card-img {
            min-width: calc(100% - 20px);
        }
        .admin-card-text-container {
            display: none;
        }
    }
    .admin-new-card-container {
        .admin-add-card {
            span {
                h4 {
                    display: none;
                }
            }
        }
    }
}
