.create-edit-container {
    background-color: #f8f9fa;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 0px;
    .forms-container {
        padding: 20px;
        h1 {
            margin-bottom: 50px;
        }
        form {
            .form-group {
                .form-input {
                    border: solid 4px #00ccbc;
                }
            }
        }
    }
}


.create-edit-restaurant-container {
    background-color: #f8f9fa7c;
    .restaurant-forms-container {
        // width: 50%;
        .create-restaurant-bg-img {
            position: absolute;
            left: 50%;
            top: -1%;
            z-index: -1;
            // height: 100%;
        }
    }
}

.restaurant-inputs {
    color: black;
}


@media screen and (max-width: 992px) {
    .create-edit-restaurant-container {
        .restaurant-forms-container {
            .diventa-partner {
                display: none;
            }
            .create-restaurant-bg-img {
                left: 25%;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .create-edit-restaurant-container {
        .restaurant-forms-container {
            // width: 50%;
            .create-restaurant-bg-img {
                left: -20px;
            }
        }
    }
}

