body{
    background-color: $body-bg;
    color: $primary-color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    
}

.mg-top-bot-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.no-decoration {
    text-decoration: none;
}

.big-container{
    width: 1400px;
    margin: auto;
}

    ::-webkit-scrollbar{
        width: 10px;
        height: 10px;
        }
        ::-webkit-scrollbar-thumb{
        background: #C7C7C7;
        border-radius: 19px;
        }
        ::-webkit-scrollbar-thumb:hover{
        background: #B3AFB3;
        }
        ::-webkit-scrollbar-track{
        background: #F0F0F0;
        border-radius: 0px;
        box-shadow: inset 0px 0px 0px 0px #F0F0F0;
        }