body{
    background-color: $body-bg;
    color: $primary-color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mg-top-bot-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.no-decoration {
    text-decoration: none;
}

.big-container{
    width: 1400px;
    margin: auto;
}