footer {
    .alessandro-container {
        background: $footer-bg;
        color: white;
        height: 208px;
        .row {
            .col {
                h4 {
                    padding: 10px;
                    text-align: center;
                }
                ul {
                    list-style: none;
                }
            }
        }
    }
}
.footer-down {
    justify-content: flex-end;
    .icons {
        list-style: none;
        li {
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;
        }
    }
}
