// Body
$body-bg: #FFFFFF;

// Typography
$font-family-primary: stratos, sans-serif;
$font-family-secondary: plex-sans, sans-serif;


// Colors
$primary-color: #2e3333;

$error-color: #e64135;
$error-border-color: #ff483b;
// text
$light-gray-text: #8d9090;
// Homepage
$hero-color1: #00CCBB;
$hero-color2: #D0EB9A;
$hero-title: #440063;
$hero-acasatuacondeliveroo:#007e8a;

$links-scopri: #00a396;

$rider-banner-bg: #FF483B;
$ristoranti-banner-bg: #FF8100;
$lavora-banner-bg: #BAC3C3;

$footer-bg:#2E3333;
$footer-bg-col:#434848;
$footer-color: #fff;

