/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
  }
  
  #signout {
    padding: 0;
    margin: 8px 8px 8px 32px;
    position: relative;
    color: $error-color;
    p {
      color: $error-color;
      cursor: pointer;
      position: relative;
      display: inline-block;
      font-size: 1rem;
      background-repeat: no-repeat;
      transition: background 0.2s ease-out;
      white-space: nowrap;
      :hover {
        background-position: 0 11px;
      }
    }
  }
  #signout:before {
    content: "";
    position: absolute;
    left: 0;
    width: 80px;
    height: 4px;
    background: #e64135;
    bottom: 14px;
    transition: all 0.2s ease-out;
  }
  #signout:hover:before {
    transform: translateY(5px)
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: $hero-color1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.home-menu{
    color: $hero-color1;
    background-color: white;
}

#darkoverlay {
  display: none;
  position: fixed;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  background: rgba(51, 51, 51, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all .5s ease-in-out;
}
.activedarkoverlay{
  display: block!important;
  opacity: 1!important;
  transition: all .5s ease-in-out;
  z-index: 1!important;
}