.btn-menu{
    outline: none;
    -webkit-box-shadow: 0 0 0 3px rgb(0 204 188 / 30%);
    box-shadow: 0 0 0 3px rgb(0 204 188 / 30%);
    border: 1px solid rgba(0,204,188,.5);
}
.btn-default{
    appearance: none;
    align-items: center;
    border: 1px solid #e8ebeb;
    border-radius: 4px;
    display: flex;
    cursor: pointer;
    padding: 8px 16px;
    line-height: 24px;
    color: #5f5f5f;
    text-decoration: none;
    background: #fff;
    -webkit-transition-property: background,-webkit-box-shadow;
    transition-property: background,-webkit-box-shadow;
    transition-property: background,box-shadow;
    transition-property: background,box-shadow,-webkit-box-shadow;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    i{
        margin-right: 5px;
        color: $hero-color1;
    }
}