.card-my{
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    margin-top: 20px;
    .description-public{
        flex-grow: 1;
        .fa{
            color: $teal;
        }
    }
    .row-my{
    display: flex;
    .img-rest{
        width: 200px;
        margin-left: 10px;
    }
    }
}

.bg-menu{
    background-color: rgb(246, 240, 240);
    .mg-10{
        margin: 10px;
    }

}
