footer{
    background-color : $footer-bg;
    color: whitesmoke;
    width: 100%;

    .container{
        .row{
            .col-foot{
                border-radius: 15px;
                background-color: $footer-bg-col;
                height: 200px;
                margin: 20px;
                h4{
                    padding: 10px;
                    text-align: center;
                }
                hr{
                    width: 70%;
                    background-color: whitesmoke;
                    margin: auto;
                    margin-bottom: 15px;
                }
                p{
                    a{  
                        &:hover{
                            color: $hero-color1;
                        }
                    }
                }
                ul {
                    list-style: none;
                    ;
                    li{
                        a{
                            color: whitesmoke;
                            &:hover{
                                color: $hero-color1;
                            }
                        }
                    }
                }
            }
        }
    }
}
.footer-down {
    justify-content: flex-end;
    p{
        color: $footer-bg-col;
    }
    .icons {
        list-style: none;
        li {
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;
            a{
                &:hover{
                    color: $hero-color1;
                }
            }
        }
    }
}

@media screen and (max-width:768px){
    footer{
        padding: 20px;
        .container{
            .row{
                display: block;
                .col{
                    text-align: center;
                    width: auto;
                    ul{
                        padding: 10px;
                    }
                }
            }
            .footer-down{
                display: flex;
                
            }
        }
    }
}
