.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-height: 100vh;
    background: #00ccbc;
    color: #fff;
    transition: all 0.3s;
    padding-top: 15px;
    border-radius: 10px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    border-radius: 10px;
}

ul li a:hover {
    color: #7386d5;
    background: #fff;
}

ul ul a {
    font-size: 0.9em;
    padding-left: 30px;
    background: #6d7fcc;
}

.sidebar-collapse-btn {
    display: none;
}

.list-unstyled {
    li {
        a {
            span {
                display: flex;
                align-items: center;
                margin: 10px;
                i {
                    font-size: 25px;
                }
                p {
                    margin-left: 10px;
                    transform: translateY(25%);
                }
            }
        }
    }
}

.my-navbar-toggler {
    display: none;
}

.my-navbar-collapse {
    display: none;
    li {
        float: left;
    }
}

.responsive-i {
    padding: 10px;
    margin-right: 10px;
    background-color: #7386d5;
    border-radius: 5px;
    color: white;
}

@media (max-width: 768px) {
    #sidebar {
        display: none;
    }
    .sidebar-collapse-btn {
        display: block;
    }
    .my-navbar-toggler {
        display: block;
    }
    .logout-container {
        display: none;
    }

    .my-navbar-collapse {
        display: block;
    }
}

@media (max-width: 992px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
    }
    .list-unstyled {
        li {
            a {
                span {
                    justify-content: center;
                    p {
                        display: none;
                    }
                }
            }
        }
    }
}
